<!DOCTYPE html>
<html lang='es'>
    <head>
        <meta charset="UTF-8">
        <title>Página web | prueba eximagen</title>
    </head>
    <body>
        <div id="formulario" class="form">
            <h1 class="titulo">Completa el formulario para conseguir tu Guia Gratis</h1>
            <div class="top">
                <span class="log">NOMBRE</span><span class="titulo">*</span>
            </div>
            <input class="inp" type="text" id="nombre" v-model="v_nombre" placeholder="ingrese nombre" @keyup.ñ="letra($event)" @keyup.Ñ="letra($event)" @input="acento($event)">
            <div class="top">
                <span class="log">APELLIDO PATERNO</span><span class="titulo">*</span>
            </div>
            <input class="inp" type="text" id="paterno" v-model="v_paterno" placeholder="ingrese apellido paterno" @keyup.ñ="letra($event)" @input="acento($event)">
            <div class="top">
                <span class="log">APELLIDO MATERNO</span><span class="titulo">*</span>
            </div>
            <input class="inp" type="text" id="materno" v-model="v_materno" placeholder="ingrese apellido materno" @keyup.ñ="letra($event)" @input="acento($event)">
            <div class="top">Acepto el registro
                <label class="top">
                    <input type="checkbox" id="acepto" v-model="conf" @click="conf=!conf">
                    <label for="checkbox" v-if="conf">sí, acepto</label>
                    <label for="checkbox" v-else >no, gracias</label>
                </label>
            </div>
            <button class="enviar top" @click="">ENVIAR</button>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>        
            let demo= new Vue({
                el: "#formulario",
                data:{
                    nombre: '',
                    v_nombre:'',
                    a_paterno: '',
                    v_paterno:'',
                    a_materno: '',
                    v_materno:'',
                    conf: false
                },
                methods:{
                    letra(e){
                        if(e.target.id=="nombre"){
                            this.v_nombre=this.v_nombre.replace( "ñ" ,"#");
                            this.v_nombre=this.v_nombre.replace( "Ñ" ,"#");

                        }else if(e.target.id=="paterno"){
                            this.v_paterno=this.v_paterno.replace("ñ" ,"#");
                            this.v_paterno=this.v_paterno.replace("Ñ" ,"#");
                            
                        }else if(e.target.id=="materno"){
                            this.v_materno=this.v_materno.replace("ñ" ,"#");
                            this.v_materno=this.v_materno.replace("Ñ" ,"#");

                        }
                    },
                    acento(e){
                        if(e.data=='á'||e.data=='é'||e.data=='í'||e.data=='ó'||e.data=='ú'||e.data=='Á'||e.data=='É'||e.data=='Í'||e.data=='Ó'||e.data=='Ú'){
                            if(e.target.id=="nombre"){
                                this.v_nombre=this.v_nombre.replace(e.data ,"%");
                                console.log(this.nombre);
                            }else if(e.target.id=="paterno"){
                                this.v_paterno=this.v_paterno.replace(e.data,"%");
                                console.log(this.a_paterno);
                            }else if(e.target.id=="materno"){
                                this.v_materno=this.v_materno.replace(e.data,"%");
                                console.log(this.a_materno);
                            }
                        }
                    },
                    // envio(){
                        // let nom
                        // let apat
                        // let amat   
                        // nom=this.v_nombre.replace("#","ñ");
                        // apat=this.v_paterno.replace("#","ñ");
                        // amat=this.v_materno.replace("#","ñ");

                        // this.nombre=nom.replace("#","ñ");
                        // this.a_paterno=apat.replace("#","ñ");
                        // this.a_materno=amat.replace("#","ñ");
                    //     axios.post('https://postman-echo.com/post',{
                    //         data:{
                    //         nombre: this.nombre,
                    //         apellido_paterno: this.a_paterno,
                    //         apellido_materno: this.a_materno
                    //         }
                    //     }).then((response) =>{
                    //     console.log(response);
                        
                    // }).catch(error =>{
                    //         console.log('error '+response.status+' en la consulta');
                    // });
                    // }
                }
            });
    </script>

    <footer class="foot" id="pie"><p>©2019 | Edgar Arteaga</p><p class="fs-8">Todos los derechos reservados</p></footer>

    </body>
</html>

<style>
    :root{
    /* NOTE variable de color utilizada */
    --Nar: #da281c;
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: -webkit-fill-available;
        width: inherit;

    }
    .log{    
        font-weight: bold;
        font-family: sans-serif;
    }
    .titulo{
       color: var(--Nar);
    }
    .enviar{
        background-color: var(--Nar);
        border: 2px solid var(--Nar);
        color: white;
        width: 18vw;
        height: 26px;
    }
    .foot{
        text-align: center;
    }
    .inp{
        width: 50vw;
        height: 2vh;
        border-radius: 3px;
        border: 1px solid gray;
        text-indent: 10px;
    }
    .top{
        margin-top: 20px
    }
</style>





